@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

body {
 display:flex;
 min-height:100vh;
 margin:0;
 padding:0;
 font-family: 'Kulim Park', sans-serif;
}

h1 {
 font-size:1.5rem;
 color: red;
}
